.header {
  padding-top: 2em;
  padding-bottom: 2em;
  background: rgba(0, 0, 0, 0.315);
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 30px;
}
.menu {
  display: flex;
  gap: 5em;
}
.menuLink {
  display: inline-block;
  color: white;
  font-family: "Montserrat Regular";
  transition: 0.2s;
  padding: 3px 8px;

}

.menuMobile .menuLink {
  color: black;
  font-size: 2em;
  font-family: "Montserrat Regular";
}

.logo {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: white;
  transition: 0.3s;
}
.mobileLogo {
  display: none;
}

.icon {
  display: inline-block;
  background: white;
  padding: 5px;
  transition: 0.7s;
  border-radius: 10px;
}

@media (min-width: 921px) {
  .menuLink:hover {
    box-shadow: 0 0 14px 6px red;
    background: red;
    border-radius: 5px;
  }

  .logo:hover {
    box-shadow: 0 0 18px 8px rgba(255, 0, 0, 0.575);
    background: red;
  }

  .icon:hover {
    background: red;
    box-shadow: 0 0 14px 6px red;
    transform: rotate(360deg);
  }
}

.burger {
  display: none;
  cursor: pointer;
  background: white;
  width: 25px;
  height: 3px;
  position: relative;
}
.burger::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  bottom: 8px;
}
.burger::after {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  top: 8px;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 0.8em;
}


@media (max-width: 920px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
}
