.header {
    padding-top: 2em;
    padding-bottom: 2em;
    background: rgba(0, 0, 0, 0.315);
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerLeft {
    display: flex;
    align-items: center;
    gap: 5em;
}
.headerMenu {
    display: flex;
    gap: 5em;
}
.headerMenuLink {
    display: inline-block;
    color: white;
    font-family: 'Montserrat Regular';
    transition: 0.2s;
    padding: 3px 8px;
}
.headerMenuLink:hover {
    box-shadow: 0 0 14px 6px red;
    background: red;
    border-radius: 5px;
   
}
.headerLogo {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.headerRightIcon img {
    display: inline-block;
    background: white;
    padding: 5px;
    transition: 0.7s;
}
.headerRightIcon img:hover {
    background: red;
    box-shadow: 0 0 14px 6px red;
    transform: rotate(360deg);
    border-radius: 10px;
}
